# Node modules
/node_modules
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
/.vite

# Vite build output
/dist
/build

# Tauri build output
/src-tauri/target
/src-tauri/tauri-build

# Local environment files
.env
.env.*.local
*.local

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
